body {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    font-family: Consolas, monospace;
}

#navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 3;
}

.squareContainer {
    display: flow-root;
    position: absolute;
    width: 100%;
    height: 500vh;
    overflow-x:hidden;
    overflow-y: clip;
    z-index: -1;
}

.g-recaptcha {
   width: 100%;
   display: flex;
   justify-content: center;
}


.squares {
    position: absolute;
    top: -100vh;
    opacity: 0.2;
    animation-name: movingSquares;  
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    border: 2px solid #5de950;  
}
 
.about {
    font-size: 1.125em;
}

#projectPage {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectLinks {
    text-decoration: none;
}

h3 {
    border-bottom: 2px solid #5de950;
    margin-bottom: 0;  
}

#contactPage {
    display: flex;
    width: 100%;
    height: 100vh;    
}

#logo {
    height: 3em;
    margin: 0.5em;
}

.projectBox {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: rgba(23, 23, 23, 0.8);
    border-radius: 5px;      
}

.githubLogo {
    height: 2.5em;
    width: 2.5em;
    fill: #424242;
}

.githubLogo:hover {
    fill :#5de950;
}

.smallButton {
    width: 4em;
    height: 2.5em;
    background-color: rgba(23, 23, 23, 0.8);
    border: 2px solid #000;
    margin: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #424242
}

.smallButton:hover {
    border-color: #5de950;
    color: #5de950;
}

.smallButtonBox {
    display: flex;
    flex-direction: row;
}

.projectTextBox {
    width: 45%;
    height: 10em;
    background-color: rgba(23, 23, 23, 0.8);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;    
}

.projectBigBox {
    max-width: 1200px;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.topLeft{
    box-shadow: -5px -5px -0px -1px #5de950;
}
.topRight {
    box-shadow: 5px -5px -0px -1px #5de950;
}
.botLeft {   
    box-shadow: -5px 5px -0px -1px #5de950;
}
.botRight {   
    box-shadow: 5px 5px -0px -1px #5de950;
}
.right {
    box-shadow: 5px 0px 0px -1px #5de950;   
}

#landingPage {    
    height: 100vh;
    width: 100%;
}

#landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 7em;
    height: 2.5em;
    margin: 0.5em 1.5em;
    background-color: rgba(23, 23, 23, 0.8);
    border: none;
    font-size: 1.5em;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
    transition: all 0.7s;
}

button:hover {
    opacity: 1;
    border-color: #5DE950;
}

@keyframes movingSquares {
    from {
        transform: rotate(inherit);
    }
    to {
        transform: translateX(0vw) translateY(650vh) rotate(900deg);
        
    }
}

#aboutMe {
    margin:  1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p {
    font-size: 1.4em;
}

.aboutMeText {    
    width: 90%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    margin: 1em;
}

#aboutMeFrame {
    margin: 1.5em 0;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 5px solid #5DE950;
    background-color: rgba(23, 23, 23, 0.8);    
}

#buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 18vh;
}

ul { 
    list-style-type: none;  
}

li {
    background-color: #171717;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 2px;
}

.dropDownButton {
    background-color: #171717;
    border: none;
    width: 1.8em;
    height: 1.8em;
    border: 2px solid #fff;
}
  
.dropDown {
    position: relative;
    display: inline-block;
}
  
.dropDownContent {
    display: none;
    position: absolute;
    left: -50%;
    min-width: 160px;
    z-index: 1;
}
  
.dropDownContent a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
}
  
.dropDownContent a:hover {color: #5DE950;}
  
.dropDown:hover .dropDownContent {display: block;}
  
.dropDown:hover .dropDownButton {background-color: #5DE950;}

#introText {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

#intro2{
    animation-delay: 3s;
}
#intro3 {
    animation-delay: 13s;
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }   
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Consolas, monospace; 
  width: 90%;
}

.typing {
    max-width: 1200px;
  font-size: 2em;
  position: absolute;
  top: 20vh;
  margin: 0;
  z-index: -1;
  width: 80%;
}

#myName {
    color: #5de950;
}

.hiders {
    max-width: 1200px;
    font-size: 2em;
  margin: 0;
  position: absolute;
  top: 20vh;
  width: 80%;
}

.hiders p {
  font-size: 1em;
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: #1f1f1f; /* same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}
  
.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}

#contact-form {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
}

#messageBox {
    height: 200px;
    background-color: rgba(23, 23, 23, 0.8);
    margin-bottom: 1em;
    border-style: none;
    border-radius: 5px;
    resize: none;
    color: #fff;
    font-family: Consolas, monospace;
    font-size: 1.125em;
    padding-left: 10px;
}

input {
    background-color: rgba(23, 23, 23, 0.8);
    border-style: none;
    border-radius: 5px;
    font-family: Consolas, monospace;
    margin-bottom: 1em;
    color: #fff;
    font-size: 1.125em;
    padding-left: 10px;
}

#submit-button {
    width: 50%;
    margin: auto;
    border:2px solid #000;
    font-family: Consolas, monospace;
}

input[type="submit"] {
    color: inherit;
}

.projectText {
    font-size: 1em;
    text-align: center;
    
}

.project-images {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#framePlacement {
    display: flex;
    justify-content: center;
    width: 100%;
}

#textPlacement {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .typing {
        font-size: 4em;
    }
    .hiders {
        font-size: 4em;
    }
    .largeNavButtons {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }
    .about {
        font-size: 1.5em;
    }
    .projectText {
        font-size: 1.5em;
        padding: 1em;
    }
    .smallButton {
        font-size: 2em;
    }

    form {
        font-size: 2em;
    }
}

#divider {
    margin: 5em auto;
    height: 2px;
    width: 80%;
    border-radius: 50%;
    background-color:#5de950;
    text-decoration: none;
    border: none;
}